.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 7px;
}
#email, #password, #button {
  border-radius: 7px;
}
.trybewarts-header-logo {
  height: 100px;
}
.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
#input-name, #input-lastname {
  border-radius: 7px;
}
#input-email{
  border-radius: 7px;
}
#trybewarts-forms-logo {
  height: 500px;
}

.textarea {
  flex-basis: 90%;
}

#checkbox-agreement {
  display: flex;
  margin-top: 8px;
}

#textarea-header {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

#counter {
  align-self: center;
}
#forms-ava {
  align-items: center;
  margin-left: 350px;
  display: flex;  
  font-family: 'Didact Gothic', sans-serif;
}
#footer {
  margin-left: 350px;
}
#submit-btn {
  font-family: 'Didact Gothic', sans-serif;
  color:white;
  background: rgb(172, 44, 55);
  border-radius: 7px;
}


